@import "variables";
@import "typography";
@import "mixin";
@import "components/header";
@import "components/footer";

/*----------------------------------------
    all sections
----------------------------------------*/
section {
    margin-bottom: 50px;
}

.wrap--description {
    width: 70%;
}

/*----------------------------------------
    Section - hero
----------------------------------------*/
.hero {
    background: url("../assets/hero.jpg"), linear-gradient(rgba(#fff, 0.5), rgba(#fff, 0.5));
    min-height: 500px;
    background-size: cover;
    @include flexCenter(row);
}

.wrap--hero {
    // align items in center
    display: flex;
    justify-content: center;
    align-items: center;
    @include flexCenter(column);
}


/*----------------------------------------
    Section - categories
----------------------------------------*/
.categories .wrapper {
    @include flexCenter(column);
}

.wrap--categoriesDescription {
    @include flexCenter(column);
}

.wrap--overlayText {
    padding: 1rem;
    background: #fff;
}

.layout__categories {
    display: grid;
}

.air {
    background: url(../assets/airPlants.jpg);
}

.containers {
background:linear-gradient(rgba(#fff,0.5),rgba(#fff,0.5)), url('../assets/plantContainers.jpg');
width: 200px;
height: 200px;
}



/*----------------------------------------
    Section - hero
----------------------------------------*/









// button typography and styles
button, input[type="submit"] {
    border: none;
    box-shadow: none;
    text-transform: uppercase;
}

.btn__cta {
    @include btn--large($pink, #fff);
}
