@import "variables";
@import "typography";
@import "mixin";
@import "components/header";
@import "components/footer";

body {
    background: orange;
}

.parent {
    display: grid;
    // grid-template-areas: 
    // "air air office house"
    // "air air containers containers";
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    // grid-auto-rows: 1fr;
    // grid-auto-columns: 1fr;

}

.child {
    // width: 100px;
    min-height: 100px;
    background: blue;
    border: 1px black solid;

}

.air {
    // grid-area: air;
    // grid-column-start: 1;
    // // grid-column-end: span 2;
    // grid-row-start: 1;
    grid-row-end: span 2;
    background: pink;
}

.office {
    // grid-area: office;
}
.house {
    // grid-area: house;
}
.containers {
    // grid-area: containers;
    background: green;
    grid-column-start: span 2;
}

