@import "normalize";
@import "variables";
@import "mixin";
@import "typography";
@import "components/buttons";
@import "components/header";
@import "components/footer";
@import "components/graphics";

/*----------------------------------------
    all sections
----------------------------------------*/
.wrapper {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: $break-large) {
        width: 95%;
    } 
}

// header wrapper will be full width in mobile
header.wrapper {
    @media (max-width: $break-med) {
        width: 100%;
    } 
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

section {
    margin-bottom: 50px;
}

.wrap--small {
    width: 90%;
    margin: 0 auto;
    @media (max-width:$break-med) {
        width: 95%;
    }
}

img {
    width: 100%;
}


/*----------------------------------------
    Section - hero
----------------------------------------*/
// add space at the top of <body> for fixed mobile menu
@media (max-width:$break-med) {
    section.hero {
        margin-top: 112px;
    }
}

.hero {
    background:linear-gradient(rgba(#fff,0.4),rgba(#fff,0.4)), url("../assets/hero.jpg");
    min-height: 500px;
    background-size: cover;
    @include flexCenter(row);
    position: relative;
}

.wrap--hero {
    margin: 50px;
    @include flexCenter(column);
}

// position arrows on either side
.fa.fa-arrow-left, .fa.fa-arrow-right {
    @include setFont(2rem, $text-gray, 400);
    position: absolute;
    &:hover, &:focus {
        color: #000;
    }
}

.fa.fa-arrow-left {
    left: 10px;
}

.fa.fa-arrow-right {
    right: 10px;
}

// position indicator dots
.carouselNav {
    position: absolute;
    bottom: 10px;
}

.indicatorDot {
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
}

.indicatorDot.active {
    background: $text-gray;
}

/*----------------------------------------
    Section - categories
----------------------------------------*/
.categories .wrapper {
    @include flexCenter(column);
}
// position flower behind heading
.categories .heading--section {
    position: relative;
}

.categories .heading--section:after {
    content: url("../assets/graphics-plant.svg");
    position: absolute;
    left: 40%;
    bottom: -10px;
}

.wrap--categoriesDescription {
    @include flexCenter(column);
}

.wrap--overlayText {
    padding: 1rem 2rem;
    background: #fff;
}


//targets image+overlay, which is the same area
.overlayArea {
    position: relative;
    line-height: 0;
}

.popularItem__overlay {
    // center the add to cart button
    @include flexCenter(row);
    // position related to .overlayArea
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.6); 
    // hidden by default 
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
}
// show overlay on hover
.overlayArea:hover .popularItem__overlay, .overlayArea:focus .popularItem__overlay {
   visibility: visible;
   opacity:1;
}

// layour for the 4 category cards + at breakpoints
.layout__categories {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    width: 100%;
    justify-content: stretch;
    grid-template-areas: 
        "airPlants officePlants housePlants"
        "airPlants plantContainers plantContainers";
    @media (max-width: $break-large) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }
    @media (max-width: $break-med) {
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "airPlants airPlants"
            "officePlants housePlants"
            "plantContainers plantContainers";
    }
}

// 4 categoryCards, each has a different bg image
.categoryCard {
    min-height: 260px;
    background-size: contain;
    @include flexCenter(row);

    &:nth-of-type(1) {
        grid-area: airPlants;
        background: linear-gradient(rgba(#000, 0.0), rgba(#000, 0.0)), url('../assets/airPlants.jpg') no-repeat center;
        background-size: cover;

        &:hover, &:focus {
            background: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)),
               url('../assets/airPlants.jpg') no-repeat center;
               background-size: cover;
        }
    }

    &:nth-of-type(2) {
        grid-area: officePlants;
        background: url('../assets/officePlants.jpg') no-repeat center;
        &:hover {
            background:linear-gradient(rgba(#000,0.2),rgba(#000,0.2)), url('../assets/officePlants.jpg') no-repeat center;
        }
    }

    &:nth-of-type(3) {
        grid-area: housePlants;
        background: url('../assets/housePlants.jpg') no-repeat center;
        &:hover, &:focus {
            background:linear-gradient(rgba(#000,0.2),rgba(#000,0.2)), url('../assets/housePlants.jpg') no-repeat center;
        }
    }

    &:nth-of-type(4) {
        grid-area: plantContainers;
        background: url('../assets/plantContainers.jpg') no-repeat center;
        // grid-column-start: span 2;
        &:hover {
            background:linear-gradient(rgba(#000,0.2),rgba(#000,0.2)), url('../assets/plantContainers.jpg') no-repeat center;
        }
    }
}

/*----------------------------------------
    Section - Popular Items
----------------------------------------*/

.nav__section {
    margin: 0 auto 40px;
    display: block;
    text-align: center;
}

.grid__popularProducts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 20px;
    @media (max-width: $break-large) {
        // grid-gap: 10px;
    }
}


// 10x .popularItem
.popularItem {
    position: relative;
}

// position hot, new, discount badges
// 1st badge at 5px and 2nd badge at 30px
.badge {
    // relative to popularItem
    position: absolute;
    right: 5px;
    display: block;
}

.badge:nth-of-type(2) {
    top: 5px;
}

.badge:nth-of-type(3) {
    top: 30px;
}

// define color of each type of badge using mixin
.badge-- {
    &hot {
        @include badge($pink);
    }

    &new {
        @include badge($blue);
    }

    &discount {
        @include badge($beige);
    }
}

.wrap--popularProductsItemDescription {
    @include flexCenter(column);
    padding: 20px;

}


/*----------------------------------------
    Section - Testimonials
----------------------------------------*/
.layout__2col {
    display: flex;
    flex-wrap: wrap;
}

.layout__2col>div {
    // float: left;
    width: 50%;
    min-height: 600px;
    @include flexCenter(column);
    min-width: 450px;
    @media (max-width: $break-large) {
        width: 100%;
        min-width: initial;
    }
}

// testimonials - the left side
.testimonials__quote {
    background: url("../assets/bg-testimonial.jpg");
    position: relative;
    padding: 70px 0;
}


//position gray dots to bottom of container
.nav__circle {
    width: 40px;
    height: 40px;
    background: $text-gray;
    border-radius: 50%;
    margin: 20px 10px;
    transition: 0.4s all;

    &:hover, &:focus {
        transform: scale(1.5);
        background: $pink;
    }
}


// video - the right side

.testimonials__video {
    background:linear-gradient(rgba(#000,0.4),rgba(#000,0.4)), url("../assets/bg-video.jpg") no-repeat;
    background-size: cover;
}

// position pink quote after heading
.testimonials__quote .heading--section {
    position: relative;
    // margin-bottom to create space for quotes
    margin-bottom: 60px;
}

.testimonials__quote .heading--section::after {
    content: url("../assets/graphics-quotes.png");
    position: absolute;
    bottom: -50px;
    left: 45%;
}

// add graphic between words "plants" and "store
span.display--graphic::before {
    content: url("../assets/graphics-plantsStore.png");
    margin: 0 10px;
}



/*----------------------------------------
    Section - Blog
----------------------------------------*/

.blog {
    clear:both;
}

.imgHover {  
    img {
        transition: 0.5s opacity;
    }
    
    &:hover img, &:focus img {
        opacity: 0.6;
    }
}

.layout__3col {
    display: flex;
    justify-content: center;
    @media (max-width: $break-small) {
        flex-wrap: wrap;
    }
    
}

.layout__3col > div {
    width: calc(33% - (60px / 3));
    margin: 10px 30px 10px 0;
    @media (max-width: $break-large) {
        margin-right: 10px;
    }
    @media (max-width: $break-small) {
        margin-right: 0;
        width: 100%;
    }
}

.layout__3col > div:last-child {
    margin-right: 0;
}

.wrap--blogBlurb {
    padding: 10px 0;
}

// gets rid of extra pixel under photo
.blogBlurb > a {
    line-height: 0;
}

/*----------------------------------------
    Section - Newsletter
----------------------------------------*/
.newsletter {
    padding-bottom: 80px;
    border-bottom: 1px $light-gray solid;
}

.newsletter p {
    text-align: center;
}

// Newsletter form: 
.form__newsletter {
    width: 70%;
    margin: 0 auto 100px;
    position: relative;
}

.form__newsletter button {
    position: absolute;
    right: 2px;
    bottom: 5px;
    padding: 5px 5px 0 5px;
}

.fa.fa-envelope {
    color: white;
    background: black;
    padding: 0 1px;
    font-size: 20px;
}

.input--border-bottom {
    border: none;
    border-bottom: $text-gray 1px solid;
    font-size: 16px;
    width: 100%;
}

.wrap--brandIcons {
    @include flexCenter(row);
    justify-content: space-around;
    flex-wrap: wrap;
}

.layout__floatRow > * {
    float: left;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

