
@mixin btn--small($bgcolor, $textcolor) {
    background: $bgcolor;
    color: $textcolor;
    padding: 0.8rem;
    transition: 0.5s background;
    &:hover, &:focus {
        background: $blue;
    }
}

@mixin btn--large($bgcolor, $textcolor) {
    background: $bgcolor;
    color: $textcolor;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    transition: 0.5s background ease-in-out;
    &:hover, &:focus {
        background: lighten($bgcolor, 10%);
    }
}

// button typography and styles
button, input[type="submit"] {
    border: none;
    box-shadow: none;
    text-transform: uppercase;
}

.btn__cta {
    @include btn--large($pink, #fff);

}

// this button gets bigger at med breakpoint
.btn__cart {
    @include btn--small(#fff, #000);
        @media (max-width: $break-med) {
            @include btn--large(#fff, #000);
        }
}
