
// 12 col then 4 col then 2 col footer
.layout__footerGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // grid-gap: 10px;
    grid-template-areas: 
    "address address address address address services services account account insta insta insta";
    @media (max-width:$break-large) {
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "address address address address"
        "services account insta insta";
    }

    @media (max-width:$break-small) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "address address"
        "services account" 
        "insta insta";
    }
}
.layout__footerGrid.wrapper {
    margin: 80px auto;

}
.wrap--footerSection1 {
    grid-area: address;
}

.wrap--footerSection2 {
    grid-area: services;
}

.wrap--footerSection3 {
    grid-area: account;
}

.wrap--footerSection4 {
    grid-area: insta;
}

.layout__footerInsta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    margin-bottom: 30px;
}

.wrap--cc img{
    height: 24px;
}

// Copyright bar at the bottom

.copyright {
    border-top: 1px solid $light-gray;
    padding: 20px 0;
    .wrapper > div {
        display: inline-block;


        &:first-of-type {
            float: left;
        }

        &:last-of-type {
            float: right;
        }
    }

    p {
        margin: 0;
    }

}
