
// 12 col then 4 col then 2 col footer
footer {
    margin: 60px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // grid-gap: 10px;
    grid-template-areas: 
    "address address address address address services services account account insta insta insta";
    @media (max-width:$break-large) {
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "address address address address"
        "services account insta insta";
    }

    @media (max-width:$break-small) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "address address"
        "services account" 
        "insta insta";
    }
}

footer > div {
    margin: 10px;
}

.wrap--footerSection1 {
    grid-area: address;
}

.wrap--footerSection2 {
    grid-area: services;
}

.wrap--footerSection3 {
    grid-area: account;
}

.wrap--footerSection4 {
    grid-area: insta;
}

.layout__footerInsta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    margin-bottom: 30px;
}

.wrap-cc img{
    height: 24px;
}

