// header for all pages :D



.wrapper {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

header > div {
    width: 33%;
    float: left;
    @include flexCenter(row);
}