// header for all pages 

// at middle breakpoint, move padding + wrap + logo on top and other 2 sections side by side on 2nd row

header {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    // margin: 100px 0;
    
    flex-wrap: nowrap;
    position: relative;
    background: white;
    z-index: 10;

    
    
    @media (max-width: $break-med) {
        flex-wrap: wrap;
        position: fixed;
        top: 0;
    }
}

// all 3 divs
header > div {
    flex: 1 1 500px;
    @include flexCenter(row);
    padding: 10px 0;
    @media (max-width: $break-med) {
        padding: 5px 0;
    }

}
// left - Home, About etc..
header .nav__main {
    justify-content: flex-start;
    @media (max-width: $break-med) {
        // MOBILE NAV MENU: make vertical
        width: 100vw;
        flex-flow: column wrap;
        display: none;
        flex-wrap: wrap;
    }

    &.open {
        display: block;
    }

} 

//middle - Logo image
header>div:nth-of-type(2) {
    // at beakpoint, move logo to front
    @media (max-width: $break-med) {
        width: 100%;
        display: inline;
        order: -2;
    }
}

//right- cart, hamburger
header>div:last-of-type {
    justify-content: flex-end;
    z-index: 10;
    @media (max-width: $break-med) {
        width: 50%;
        display: inline;
        order: -1;
    }
} 

.icon--mainNav {
    padding: 5px;
    margin: 0 5px;

    img {
        height: 24px;
    }

    &:first-of-type {
        position: relative;
    }
}

//position the blue circle with item count
.bagItemCount {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $blue;
    padding-top: 3px;

    position: absolute;
    top: -3px;
    right: -6px;
    p {
        font-size: 11px;
    }
}

// make search bar slide out when checked
#toggle {
    display: none;
}

label[for="toggle"] img {
    content: url("../../assets/icon-search.png");
    width: 24px;
    height: 24px;
    display: inline-block;
}

//style form and move it out of screen to the top
form.search {
    background: white;
    position: absolute;

	left: 33.333%;
	top: -120%;
    // list-style: none;
    
    width: 33.333%;
    min-height: 90px;
    // padding centers form fields vertically
    padding: 27px 0;
    
    z-index: 50;
    
    transition: all 1s;
        @media (max-width: $break-med) {
            left: 0;
            width: 100%;
            min-height: 68px;
            padding: 16px 0;
        }  
}

#searchField {
    width: 80%;
}

// slide search form down
input:checked + form {
	top: 0;
}

form input {
    min-height: 35px;
    &[type="submit"], button {
        border: 1px solid $blue;
    }

    &[type="text"] {
        padding: 0 10px;
    }
}